<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Pilot MEC Application</title>
</head>
<body>
<div class="container">
   <div style="width:40px;max-height:40px">
      <img align="center" src="https://www.vodafone.com/content/dam/vodcom/icons/Vod_Roundel_red%403x.png.rendition.1984.1984.png" alt="Vodafone" >
      </div>
   </div>
   <div class="container">
   <h1>Vodafone - Pilot Request Application</h1>
   </div>
   <div class="container">
        <a href=/><h5>Home</h5></a>&nbsp;&nbsp;&nbsp;
	<a href=/login><h5>Login</h5></a>&nbsp;&nbsp;&nbsp;
	<h5>Register</h5>&nbsp;&nbsp;&nbsp;
	<a href=/view><h5>View Feedback</h5></a>&nbsp;&nbsp;&nbsp;
      <h1>Thank You!</h1>
      <h2>Thank you for rating your experience. We hope to see you soon!</h2>
    </div>
  </body>
</html>

